<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="static/img/user.png" class="img-thumbnail" />

                    <div class="inner-text">
                        {{ username }}
                    </div>
                </div>

            </li>
            <li>
                <a href=" "><span class="glyphicon glyphicon-upload"></span> 上传</a >
            </li>
            <li>
                <a href="/add"><span class="glyphicon glyphicon-plus"></span> 添加</a >
            </li>
            <li>
                <a href="/delete"><span class="glyphicon glyphicon-trash"></span> 删除</a >
            </li>
            <li>
                <a href="/task1"><span class="glyphicon glyphicon-search"></span> 查看</a >
            </li>
        </ul>
    </div>
</div>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">查看任务</h1>
                <h1 class="page-subhead-line">查看任务中数据被标注的综合结果</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="container" style="background-color: white;border:#b7dbf1 5px solid;border-radius: 12px; width:50%;">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>任务名称</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for taskname in tasknames %}
                                    {% if loop.index%4==1 %}
                                    <tr class="success">
                                        <td>{{loop.index}}</td>
                                        <td><a href="{{"/showuser?task="+taskname}}" > {{ taskname }}</a ></td>
                                    </tr>
                                    {%elif loop.index%4==2%}
                                    <tr class="info">
                                        <td>{{loop.index}}</td>
                                        <td><a href="{{"/showuser?task="+taskname}}" > {{ taskname }}</a ></td>
                                    </tr>
                                    {%elif loop.index%4==3%}
                                    <tr class="warning">
                                        <td>{{loop.index}}</td>
                                        <td><a href="{{"/showuser?task="+taskname}}" > {{ taskname }}</a ></td>
                                    </tr>
                                    {%elif loop.index%4==0%}
                                    <tr class="danger">
                                        <td>{{loop.index}}</td>
                                        <td><a href="{{"/showuser?task="+taskname}}" > {{ taskname }}</a ></td>
                                    </tr>
                                    {%endif%}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}